body {
  background: url('https://redfynn-gt7rmksqqwq7f30mi.netdna-ssl.com/wp-content/uploads/2016/08/home-italian-food-background.jpg') no-repeat center center fixed;
  font-family:Comic Sans MS, cursive, sans-serif;
}

div {
  font-family:Comic Sans MS, cursive, sans-serif;
}

div.box {
  /*background: #EEE;*/
  height: 100%;
  width: 600px;
  font-family:Comic Sans MS, cursive, sans-serif;
}


div.div1 {
  float: left;
  height: 100%;
  width: auto;
  font-family:Comic Sans MS, cursive, sans-serif;
}

div.div2 {
  height: 100%;
  overflow: hidden;
  font-family:Comic Sans MS, cursive, sans-serif;
}


div.clear {
  clear: both;
  height: 1px;
  overflow: hidden;
  font-size: 0pt;
  margin-top: -1px;
}

.wrap{
  background: #EEE;
  height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 350px;
}
.wrap .selection{
  .width :350px;
  border:1px solid #ccc;
  background: #EEE;
}
.wrapper{
    height: 150px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 150px;
 }
 .wrapper .selection{
   width:150px;
   border:1px solid #ccc
 }
